@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  padding-top: 50px;

  display: flex;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.43;
}
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  /* vertical-align: top; */
}

html,
body {
  height: 100%;
  line-height: 1;
}

button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}